<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        article
            p lolkkfk
            p hola fresita
            p mi amor te amooo

        script(src="./index.js")